p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning, .rmderror{
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
.rmdcaution {
  background-image: url("images/caution.png");
}
.rmdimportant {
  background-image: url("images/important.png");
}
.rmdnote {
  background-image: url("images/note.png");
}
.rmderror {
  background-image: url("images/error.png");
}
.rmdtip {
  color: blue;
  background-image: url("images/tip.png");
}
.rmdwarning {
  color: red;
  background-image: url("images/warning.png");
}


